.products_list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;  
  justify-content: space-evenly;
}

.products_list {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 20px; */
}